* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
    color: white;
    background-color: black;
}
main {
    margin: 0 auto;
}
p {
    margin: 0.4em;
}
#canvas {
    max-width: 90%;
    border: 3px solid white;
    background-color: black;
}
a {
    display: block;
    margin: 0.4em;
    font-size: 1rem;
    color: white;
}
a:hover {
    color: grey;
}
button {
    display: block;
    width: 200px;
    max-width: 100%;
    padding: 0.3em;
    margin: 0.8em auto;
    border: 3px solid white;
    border-radius: 30px;
    font: inherit;
    background-color: black;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #3c3c3c;
}
button:active {
    transform: scale(0.95);
}
@media (min-width: 1000px) {
    #clearButton {
        position: fixed;
        right: 30px;
        bottom: 0px;
    }
    #submitButton {
        position: fixed;
        right: 30px;
        bottom: 80px;
    }
}
